@font-face {
  font-family: "arial";
  src: url("arlrdbd.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #061e2f;
  font-family: arial;
}

.retour {
  color: #9873f1;
  font-size: 4vw;
  padding-top: 0.5vw;
  padding-left: 1vw;
}

.retour:hover {
  color: white;
  transition: 0.3s;
}

h1 {
  color: white;
  font-size: 5vw;
  text-align: center;
  position: relative;
  top: -5vw;
}

.ligne {
  background-color: #9873f1;
  width: 23vw;
  height: 0.5vw;
  border-radius: 100px;
  position: relative;
  top: -8vw;
  left: 38vw;
}

.tableau {
  background-color: white;
  height: 100%;
  width: auto;
  padding: 3vw;
  padding-bottom: 5vw;
  border-radius: 2vw;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 3vw;
  position: relative;
  top: -1vw;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding-top: 0.75vw;
  padding-bottom: 0.75vw;
  text-align: left;
  border-bottom: 3px solid #061e2f;
  border-radius: 100px;
}

th {
  color: #9873f1;
  border-bottom: 6px solid #9873f1;
}

a {
  text-decoration: none;
}
